body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button, input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Centriranje back-button-a */
.button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#back-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: #002c5b;
}

/* Media queries za responzivnost */
@media (max-width: 768px) {
    .container {
        width: 80%; /* Smanjenje širine kontejnera na manjim ekranima */
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%; /* Gotovo puna širina na veoma malim ekranima */
    }
}

